.payment > h1 {
  text-align: center;
}

.payment-container {
  background-color: white;
  font-weight: 650;
  margin: 10px;
  /* padding: 20px; */
}

.payment-section {
  /* margin-top: 20px; */
  display: flex;
  padding: 20px;
  border: 1px solid lightgray;
}

.payment-address {
  margin-left: 130px;
  font-size: larger;
}

.payment-items {
  margin: 0 20px;
  padding: 0 20px;
  width: 70vw;
}

form {
  justify-content: space-between;
}

/* CardElementStyles.css */

.card-element {
  margin-left: 50px;
  font-size: 16px;
  width: 50vw;
  color: #424770;
}

.card-element + div {
  margin-left: 45px;
  margin-top: 20px;
}

.card-element::placeholder {
  color: #aab7c4;
}

.card-element.invalid {
  color: #9e2146;
}

.payment_paybtn {
  width: 150px;
  margin: auto;
  margin-top: 50px;
}

@media screen and (max-width: 1000px) {
  .payment > h1 {
    font-size: xx-large;
    margin: 0px;
  }
  .payment-section {
    display: flex;
    justify-content: space-between;
  }
  .payment-address {
    margin-left: 75px;
  }
  .card-element {
    margin-left: 20px;
    /* font-size: 16px; */
    width: 40vw;
    color: #424770;
  }
  .payment_paybtn {
    margin: auto;
    margin-top: 10px;
  }
  h3 {
    font-size: x-large;
    margin: 0;
  }
  .card-element + div {
    margin-left: 10px;
  }
}
